.footer-container{
    display: flex;
    align-items: baseline
}

.address{
    font-style: normal;
}

.footer .web{
    font-family: 'Raleway', sans-serify;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.footer-contacts{
    margin-right: 70px;
}

.footer .web-studio{
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serify;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}
.footer-social-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    margin-bottom: 20px;    
}

.footer .footer-link{
    display: block;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

}
.footer-item{
    display: block;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel{
   margin-bottom: 0;
}

.footer-social-section{
    display: block;
    align-items: center;
    margin-right: 93px;
    justify-content: center;
    width: 206px;
    height: 80px;
}

.footer-social-list{
    display: flex;
    justify-content: center;
}

.footer-social-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child{
        margin-right: 0;
    }
    
}


.footer-social-icon{
    fill: var(--primary-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1); 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        background-color: var(--accent-color);
    }
}



.footer-social-link:hover .footer-social-icon 
.footer-social-link:focus .footer-social-icon{
    fill: var(--primary-white-color);
}