.header{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width:768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header-nav__list{
    @media screen and (max-width:767px) {
        display: none;
    }
}

.header-connect{
    @media screen and (max-width:767px) {
        display: none;
    }
}

.header .web{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header .web-studio{
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}

.burger-btn{
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    line-height: 0;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.burger-icon{
    width: 40px;
    height: 40px;

    &:hover, &:focus{
        fill: var(--accent-color);
    }
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-white-color);
    padding: 48px 40px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    line-height: 0;
}

.menu-close-icon {
    
    width: 40px;
    height: 40px;

    &:hover, &:focus{
        fill: var(--accent-color);
    }
}

.header-nav{
    @media screen and (min-width:768px) and (max-width:1199px){
        display: flex;
        align-items: center;
    }
    
}

.header-nav__list{
    @media screen and (min-width:768px) and (max-width:1199px){
        display: flex;
    }
}

// .header-nav__item:not(:last-child){
//     margin-right: 50px;
// }

// .header-nav__item .link:hover,
// .header-nav__item .link:focus {
//     color: var(--accent-color);
// }    

.header .menu{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .site-nav .link{
//     color: var(--primary-title-color);
// }

// .logo{
//     color: var(--primary-black-color);
//     font-family: 'Raleway', sans-serif;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
// }

// .header-item{
//     position: relative;
// }

// .header-nav__linku.current::after{
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     bottom: -32px;
//     border-radius: 2px;
//     background-color: var(--accent-color);
//     display: block;
// }


// .site-nav .link:hover,
// .site-nav .link:focus {
//     color: var(--accent-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.33;
//     letter-spacing: 0.02em;
// }

// .header-connect{
//     margin-left: auto;
// }

// .header-connect__mail{
//     margin-right: 50px;
// }

// .mail-icon{
//     fill: var(--primary-text-color);
//     margin-right: 10px;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .phone-icon{
//     fill: var(--primary-text-color);
//     margin-right: 10px;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }



// .header-connect__link:hover .mail-icon,
// .header-connect__link:focus .mail-icon{
//     fill: var(--accent-color);
// }

// .header-connect__link:hover .phone-icon,
// .header-connect__link:focus .phone-icon{
//     fill: var(--accent-color);
// }

// .header-connect__link{
//     color: var(--primary-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .header-connect__link:hover, .header-connect__link:focus{
//     color: var(--accent-color);
// }

.mobile-menu__nav {
    display: flex;
}

.mobile-nav {
}
.mobile-nav__item:not(:last-child){
        margin-bottom: 33px;
}

.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);

    &:hover, &:focus{
        color: var(--accent-color);
    }
}


.mobile-nav__link-current {
}

.mobile-menu__connect {
    display: block;
}

.mobile-connect {
    margin-bottom: 64px;
}

.mobile-connect__item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-connect__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mobile-connect__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mobile-social{
    display: flex;
}

.mobile-social__item:not(:last-child){
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}


.mobile-social__link{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.margin{
    margin-left: 0;
}