.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-container{
    display: flex;
    align-items: center;
}

.header .web{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header .web-studio{
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}
.header-nav{
    display: flex;
    align-items: center;
}

.header-nav__list{
    display: flex;
}

.header-nav__item:not(:last-child){
    margin-right: 50px;
}

.header-nav__item .link:hover,
.header-nav__item .link:focus {
    color: var(--accent-color);
}    

.header .menu{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link{
    color: var(--primary-title-color);
}

.logo{
    color: var(--primary-black-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-item{
    position: relative;
}

.header-nav__linku.current::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -32px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

.header-connect{
    margin-left: auto;
}

.header-connect__mail{
    margin-right: 50px;
}

.mail-icon{
    fill: var(--primary-text-color);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon{
    fill: var(--primary-text-color);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header-connect__link:hover .mail-icon,
.header-connect__link:focus .mail-icon{
    fill: var(--accent-color);
}

.header-connect__link:hover .phone-icon,
.header-connect__link:focus .phone-icon{
    fill: var(--accent-color);
}

.header-connect__link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect__link:hover, .header-connect__link:focus{
    color: var(--accent-color);
}