.section-name{
    margin-bottom: 50px;
    text-align: center;
    color: var(--primary-title-color);    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;  
}